<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-ML9h/UCooefre72ZPxxOHyjbrLT1xKV0AHON1J+OlOV2iwcYemqmWyMfTcfyzLJ1"
        crossorigin="anonymous">
    <title>Edit Profile</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" > Soles</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review">Review</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search Shoe">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- under nav -->
    <div class="container">
        <h1>Edit Your Profile</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/update/user/{{user.id}}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">First Name</label>
                <input type="text" name="f_name" value="{{user.first_name}}" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Last Name</label>
                <input type="text" name="l_name" value="{{user.last_name}}" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Email</label>
                <input type="email" name="new_email" value="{{user.email}}" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">User Name</label>
                <input type="text" name="new_username" value="{{user.user_name}}" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Favorite Skater</label>
                <input type="text" name="favskater" value="{{user.fav_skater}}" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Favorite Shoe</label>
                <input type="text" name="favshoe" value="{{user.fav_shoe}}" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">New Password</label>
                <input type="password" name="newpw" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>